{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6">
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>
                    Amicitias quaedam unum quos nimis esse sibi nimias animus necesse sapientes pluribus esse partim esse partim implicari sapientes quaedam persequantur esse commodissimum caput habitos esse quaedam si remittas beate quas argutiis): quas esse vivendum pro cum quos non quibusdam mirabilia illi caput sit non pluribus cum persequantur si Graecia pro.
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>
                    Amicitias quaedam unum quos nimis esse sibi nimias animus necesse sapientes pluribus esse partim esse partim implicari sapientes quaedam persequantur esse commodissimum caput habitos esse quaedam si remittas beate quas argutiis): quas esse vivendum pro cum quos non quibusdam mirabilia illi caput sit non pluribus cum persequantur si Graecia pro.
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>
                    Amicitias quaedam unum quos nimis esse sibi nimias animus necesse sapientes pluribus esse partim esse partim implicari sapientes quaedam persequantur esse commodissimum caput habitos esse quaedam si remittas beate quas argutiis): quas esse vivendum pro cum quos non quibusdam mirabilia illi caput sit non pluribus cum persequantur si Graecia pro.
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>
                    Amicitias quaedam unum quos nimis esse sibi nimias animus necesse sapientes pluribus esse partim esse partim implicari sapientes quaedam persequantur esse commodissimum caput habitos esse quaedam si remittas beate quas argutiis): quas esse vivendum pro cum quos non quibusdam mirabilia illi caput sit non pluribus cum persequantur si Graecia pro.
                </p>
            </div>
        </div>
    </div>
{% endblock %}